/* 로그인 - 회원가입 페이지 */

.container {
	width: 420px;
	margin: 60px auto;
}

.login-title,
.join-title,
.description {
	text-align: center;
}

.description {
	margin: 20px 0 40px 0;
	color: #767676;
}

.label-width {
	border: 0;
	text-align: right;
	font-size: 20px;
	display: inline-block;
	width: 110px;
	padding: 10px 5px;
}

.submit-button {
	margin-top: 20px;
	width: 100%;
	height: 40px;
	background-color: royalblue;
	color: white;
	border-width: 0;
	border-radius: 4px;
	font: inherit;
	box-sizing: content-box;
	padding: 0;
}




/* 로그인 */
.container .login .login-box {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	align-items: center;
}

.label-width{
	margin-right: 10px;
}

/* 회원가입 */
.container .join .join-box {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	align-items: center;
}

.join-email,
.join-pw,
.join-nickname {
	border: 0;
	height: 50px;
}