{% extends 'base.html' %}

{% block content %}
<section class="view">
    <!-- 글 상세페이지 상단 -->
    <div class="view-header">
        <h2>{{ post_title }}</h2>
        <div class="view-info">
          <p>작성자: {{ post_writer }}</p>|
          <p>작성일: {{ post_created_at }}</p>|
          <p>조회수: {{ post_hits }}</p>
        </div>
    </div>

    <!-- 글 상세페이지 -->
    <article class="view-content">
        {{ post_content }}
    </article>
</section>

<section class="btn-group">
    <form action="{% url 'blog:edit' pk=pk %}">
        {% csrf_token %}
        <a href="{% url 'blog:list' %}" class="btn">목록</a>
        <input type="submit" class="btn" value="수정">
        <a href="{% url 'blog:delete' pk=pk %}" class="btn">삭제</a>
    </form>
</section>

{% endblock %}