{% extends 'base.html' %}

{% block content %}

<section class="container">
    <h2 class="login-title">로그인</h2>
    <p class="description">아이디와 비밀번호를 입력하고 로그인하세요</p>

    <div class="login">
        <form action="{% url 'user:login' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="login-box">
                <div class="label-width">{{ field.label }}</div>
                <div class="login-input">{{ field }}</div>
            </div>
        {% endfor %}
        <button class="submit-button" type="submit">로그인</button> 
        </form>
    </div>
</section>
    



{% endblock %}