{% extends 'base.html' %}

{% block content %}
<form action="{% url 'user:register' %}" method="post">
    {% csrf_token %}
    <section class="container">
      <h2 class="join-title">회원가입</h2>
      <p class="description">
        원활한 서비스를 이용을 위해 회원가입을 해주세요
      </p>

        <div class="join">
            {% for field in form %}
            <div class="join-box">
                <div class="label-width">{{ field.label }}</div>
                <div>{{ field }}</div>
            </div>
            {% endfor %}
            
        </div>
        <button class="submit-button" type="submit">회원가입</button>
    </section>
</form>

{% endblock %}