{% load static %}
<!DOCTYPE html>
<html lang="ko-KR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %} 
            {{ title }} 
        {% endblock %}
    </title>

    <!-- css -->
    
    <link rel="stylesheet" href="{% static 'css/posts.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/login-join.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/comment.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>

<body>
    <header>
        <div class="inner">

            <!-- LOGO -->
            <h1><a href="{% url 'index' %}">Travel Log</a></h1>

            <!-- BLOG Menu -->
            <ul id="gnb">
                <li><a href="{% url 'blog:list' %}">여행게시판</a></li>
                <li><a href="#">여행피드</a></li>
            </ul>

            <!-- login 관련 메뉴 -->
            {% if user.is_authenticated %}
            <ul class="util">
                <li>
                    <a href="{% url 'user:pf-write' %}">
                        <img src="{{ profile.profile_img }}" alt="프로필이미지" class="base-profile-img" />
                        <span class="user-info">{{user.nickname}}님, 환영합니다.</span>
                    </a>
                </li>
                <li><a href="{% url 'user:logout' %}">로그아웃</a></li>
            </ul>
            {% else %}
            <ul class="util">
                <li><a href="{% url 'user:login' %}">로그인</a></li>
                <li><a href="{% url 'user:register' %}">회원가입</a></li>
            </ul>
            {% endif %}

        </div>
        
    </header>

    <main>
        
        {% block content %}

        {% endblock %}
    </main>

    <footer>
        <p>Copyright 2023. Simseulnyang All rights reserved.</p>
    </footer>
</body>

</html>